.log-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: #6482AD; */
    background-color:#fff;
  }
  
  .content-container {
    padding: 20px;
    background-color:#fff;
    flex: 1;
    overflow-y: auto;
  }

  .filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
    position: relative;
  }
  
  .filters-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  
 
  
  .filter-group {
    display: flex;
    flex-direction: column;
  }
  
  .filter-group label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filter-group input,
  .filter-group select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
  }

  
  .filter-group2 {
    display: flex;
    flex-direction: column;
  }
  
  .filter-group2 label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filter-group2 input,
  .filter-group2 select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 120px;
  }
 

  .count-total {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    align-items: center; 
    height: 100%; 
    margin-top: auto; 
  }
  
  
  .apply-button{ 
     padding: 8px 15px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
    background-color: #f5f5f5;
    color: black;
  }
  
 
  
  .apply-button:hover {
    background-color: #6482AD;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  
  .table-container {
    overflow-x: auto;
  }
  
  .log-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f5f5f5;
  }
  
  .log-table th{
    padding:10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .log-table td {
    padding:6px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size:12px;
  }
  
  .log-table th {
    padding:10px 10px 15px 15px;

    font-weight:100px;
    font-size:12px;
  }
  
  .log-table tr:hover {
    background-color: #000000;
    color:rgb(253, 253, 253);
  }
  
  